
/*Global Styling*/

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
    background: #670000;
    color: peru;
    font-family: 'PT Serif', serif;
    margin: 0;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: 4em;
    text-align: center;
}

/*Positioning*/

/*highlight - command/control e - adjust color and transparency*/
header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.33);
}


/*Me messing around disregard*/
a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gold;
    font-size: 17px;
}

a:visited {
    color: sandybrown;
}

